

<div class="container">
        <a name="" id="" class="btn btn-primary" routerLink="/add/" role="button">Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Corlor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pet of pets">
            <td scope="row" >{{pet.id}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.color}}</td>
            <td><a name="" id="" class="btn btn-danger"   (click)="deletePet(pet.id)" role="button">Delete</a><a name="" id="" class="btn btn-info" routerLink="/detail/{{pet.id}}" role="button">Edit</a></td>
        </tr>
 
    </tbody>
</table>

</div>








