<div class="" *ngIf="book">
    <h3>{{book.title }} Details</h3>
    <div class="">{{book.id}}</div>
    <div class="">{{book.author}}</div>
    <div class="">{{book.number}}</div>
    <div class="">{{book.date | date:'yyyy-MM-dd'}}</div>
</div>




<div [hidden]="submitted" *ngIf="book">

    <form [formGroup]="bookForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px" class="example-form">
        <mat-card-content>


            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Book's title" formControlName="title" id="title" required [(ngModel)]="book.title">

                <mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
                <!-- <mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Author's name" formControlName="author" id="author" required [(ngModel)]="book.author">

                <mat-error *ngIf="hasError('author', 'required')">Name is required</mat-error>
                <!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Pick a date" formControlName="date" id="date"
                    readonly (click)="picker.open()" required  [(ngModel)]="book.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" type="submit">Update</button>

            </mat-card-actions>
        </mat-card-actions>
    </form>
</div>
<button type="button" mat-raised-button color="warn" (click)="goBack()">Cancel</button>